<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{payment.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{payment.list.headline}]]</h1>
                <div>
                    <a th:href="@{/payments/add}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2">[[#{payment.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${payments.empty}">[[#{payment.list.empty}]]</div>
            <div th:if="${!payments.empty}" class="overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th scope="col" class="text-left p-2">[[#{payment.id.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{payment.paymentMethod.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{payment.amount.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{payment.paymentDate.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{payment.status.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{payment.user.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{payment.ticket.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody class="border-t-2 border-black">
                        <tr th:each="payment : ${payments}" class="odd:bg-gray-100">
                            <td class="p-2">[[${payment.id}]]</td>
                            <td class="p-2">[[${payment.paymentMethod}]]</td>
                            <td class="p-2">[[${payment.amount}]]</td>
                            <td class="p-2">[[${payment.paymentDate}]]</td>
                            <td class="p-2">[[${payment.status}]]</td>
                            <td class="p-2">[[${payment.user}]]</td>
                            <td class="p-2">[[${payment.ticket}]]</td>
                            <td class="p-2">
                                <div class="float-right whitespace-nowrap">
                                    <a th:href="@{/payments/edit/{id}(id=${payment.id})}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{payment.list.edit}]]</a>
                                    <form th:action="@{/payments/delete/{id}(id=${payment.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="inline">
                                        <button type="submit" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{payment.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
